
body {
    font-family: 'Open Sans';
}
h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: 'Montserrat';
}
/**
 * Helper classes
 */
.wrapper {
  width: 960px;
  margin: 0 auto;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right
}
.clearfix {
  overflow: hidden;
}
.text-uppercase {
    text-transform: uppercase;
}

/**
 * Header
 */
video {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    transition: 1s opacity;
    display: block;
}
.video-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    max-height: 100%;
}
header {
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 40px;
}

/**
 * Nav
 */
nav {
    font-family: 'Montserrat';
    font-weight: normal;
    margin-top: 0;
    list-style: none;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    font-size: 10.5pt;
}
nav ul {
    padding-top: 20px;
}
nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    padding-left: 2px;
}
nav ul li a.active {
    color: #00B09F;
}
nav ul li a span {
    padding: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: #00B09F;
}
nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
}
nav ul:first-child {
    margin-top: 0;
    font-size: 9pt;
    margin: 0;
    border: 0;
    padding: 0;
}
nav .language-selector > li {
    margin: 0;
    padding: 0;
    padding-right: 6px;
}
nav .language-selector > li:first-child {
    border-right: 1px solid #fff;
}
nav .language-selector > li:last-child {
    padding-left: 2px;
    padding-right: 15px;
    color: #ccc;
}

/***** PANEL *****/
.panel {
    width: 100%;
    position: absolute;
    top: 150px;
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    vertical-align: top;
}
.panel h1 {
    font-weight: normal;
    font-size: 45pt;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat';
}
.panel h5 {
    font-weight: bold;
    font-size: 20pt;
    color: #00B09F;
}
.panel .arrow {
    padding: 20px;
    border-radius: 70px;
    background-color: #00B09F;
    margin: 0 auto;
    width: 2px;
    margin-top: 250px;
    font-family: 'Montserrat';
}

/***** CONTENT *****/
.main-content {
    max-width: 100%;
    margin: 0;
    padding: 60px;
    overflow: hidden;
}
.content-info {
    float: left;
    width: 66%;
    overflow: hidden;
}
.content-info p {
    color: #fff;
    font-size: 11pt;
    font-weight: bold;
    margin-top: 30px;
    line-height: 24px;
}
.content-info p:last-child {
    color: #999;
    font-weight: 600;
}
.content-info h1{
    color: #00B09F;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 22pt;
}
.content-info h4 {
    margin: 0;
    color: #017060;
    font-family: 'Montserrat';
    font-weight: normal;
}
input[type="text"] {
    padding: 16px;
    margin: 8px;
    width: 97%;
    background-color: #D2CECB;
    border: 1px solid #B0AFAF;
    font-size: 10pt;
    color: #444;
}
input[type="text"]:first-child {
    margin-top: 0;
}
input[type="submit"] {
    padding: 16px;
    margin: 8px;
    width: 97%;
    font-weight: bold;
    font-family: 'Open Sans';
    background-color: #00B09F;
    text-align: center;
    border: none;
    font-size: 10pt;
    letter-spacing: 1.5px;
    color: #fff;
}
.input-group {
    float: right;
    width: 32%;
    overflow: hidden;
}

/***** SLIDER ****/
.slider {
    width: 100%;
    height: 540px;
    overflow: hidden;
    position: relative;
}
.slider img {
    height: 540px;
    position: absolute;
}
.slider img:nth-child(1) {
    left: -797px;
}
.slider img:nth-child(3) {
    left: 163px;
    width: 960px;
}
.slider img:nth-child(2) {
    right: -797px;
}
.slide-mini {
    width: 100%;
    background-color: #4C392A;
    overflow: hidden;
}
.slide-mini img {
    width: 25%;
    float: left;
}

/***** SOCIAL FEEDS *****/
.social-feeds {
    background-color: #f2f2f2;
    overflow: hidden;
    width: 100%;
}
.social-feeds .wrapper {
    background-color: #f2f2f2;
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-feeds {
    font-family: 'Montserrat';
    font-weight: normal;
    list-style: none;
    text-transform: uppercase;
    color: #000;
    font-size: 10.5pt;
    width: 100%;
    padding: 0;
}
.social-feeds ul {
    padding: 0;
    display: block;
}
.social-feeds ul li {
    display: inline-block;
    border: 1px solid black;
    padding: 15px;
    width: 16.3%;
    text-align: center;
    margin: 0;
}
.social-feeds ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
}
.social-feeds ul li a:nth-child(1) {
    background-color: #4C4C4C;
}
.social-feeds ul li a:nth-child(2) {
    background-color: #4C4C4C;
}
.brown {
    background-color: #4C392A;
}

